<!DOCTYPE html>

<html>

<head>
    <title>Test Label Click</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h1>Catégorie</h1>
    <div class="food">

        <input type="checkbox" name="checkbox" id="voyage" value="value">



        <input type="checkbox" name="checkbox" id="recette" value="value">
        <label for="recette">Recette</label>

        <input type="checkbox" name="checkbox" id="vie" value="value">
        <label for="vie">Mode de vie</label>

    </div>

    <div class="blog">

        <input type="checkbox" name="checkbox" id="voyagee" value="value">
        <label for="voyagee">Voyage
                <div class="z-index"></div>
            </label>


        <input type="checkbox" name="checkbox" id="recettee" value="value">
        <label for="recettee">Recette</label>

        <input type="checkbox" name="checkbox" id="viee" value="value">
        <label for="viee">Mode de vie</label>

    </div>

</body>

</html>