.category-id-71 {
    .container {
        .breadcrumb {
            display: none;
        }

        >#left-column {
            display: none;
        }

        #content-wrapper {
            margin: 0 auto;
            float: inherit;
            padding: 0;

            #main {
                .block-category {
                    width: 100%;
                    text-align: center;
                    overflow: hidden;

                    .category-cover {
                        img {
                            height: 315px;
                            width: 1919px;
                            position: relative;
                            left: 100%;
                            margin-left: -200%;
                            float: none!important;

                            @media (max-width: 767px) {
                                width:767px;
                                object-fit: cover;
                            }
                        }
                    }
                }

                #category-description {
                    .col-md-8 {
                        img {
                            max-width: 412.89px;

                            @media (max-width: 480px) {
                                width: 351px;
                            }
                        }
                    }   
                }

                #products {
                    #js-product-list {
                        .products {
                            padding-right: 0!important;
                        }
                    }
                }

                .page-home {
                    #custom-text {
                        #custom-text-container {
                            text-align: center!important;
                        }
                    }
                }
            }
        }
    }
}