@import "global.scss";
.block-category {
    position: relative;
    padding: unset;
}

.block-category {
    .h1 {
        position: relative;
        color: $black;
        margin-top: 30px;
        font-family: $roboto;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
    }
    @media screen and (min-width: 768px) {
        .h1 {
            margin-top: 70px;
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 480px) {
        .h1 {
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}

.block-category {
    img {
        max-height: 100%;
        width: 100%;
    }
}


 #category #products .block-category-inner {
    @media (max-width: 760px) {
        padding: 0 15px;
    }
 }

.grid-controle {
    .grid-button {
        background-color: unset;
        border: unset;
        float: right;
        margin-bottom: 5px;
        span {
            color: #232323;
        }
        span:hover {
            color: #000;
            border: 1px solid #232323;
        }
        .active {
            border: 1px solid #232323;
        }
    }
    button:focus {
        outline: unset;
    }
}

.pagination {
    >div {
        padding: 0;
    }
}

.info-all {
    padding: 15px;
    padding-right: 30px;
    .savoir-plus {
        >div {
            position: relative;
            i {
                position: absolute;
                left: 120px;
                bottom: -5px;
            }
        }
        .category-savoir-plus {
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    #search_filters {
        margin-top: 3.35rem;
        margin-bottom: 20px;
    }
}

.collapse-icons {
    .remove {
        display: none;
    }
}

.collapse-icons[aria-expanded=true] {
    .remove {
        display: block;
    }
}

.collapse-icons[aria-expanded=true] .add {
    display: none;
}

.product-miniature {
    .thumbnail-container {
        .carousel-inner {
            display: none;
        }
    }
}

.page-category {
    #wrapper {
        .container {
            padding: unset;

            @media (max-width: 480px) {
                padding: 0;

            }
        }
    }
}

#js-product-list {
    .products {
        @media (max-width: 480px) {
            padding-right: 15px;
        }
        >div {
            margin-bottom: 100px;
            position: relative;

            article {
                .product-description {
                    position: relative;
                    @media (max-width: 480px) {
                        position: unset;
                    }
                    .h2 {
                        width: 75%;
                        font-size: 1.125rem;
                        @media (max-width: 480px) {
                            width: 100%!important;
                        }
                    }
                    #product-subtitle {
                        width: 65%;
                        @media (max-width: 480px) {
                            width: 100%!important;
                        }
                    }
                    @media (max-width: 480px) {
                        height: auto;
                    }
                    
                    @media (max-width: 768px) {
                        border-left: 1px solid $black;
                        padding-left: 8px;
                    }
                    @media (max-width: 480px) {
                        padding-bottom: 0!important;
                    }
                }
                .add-to-cart-or-refresh {
                    position: absolute;
                    top: calc(100% + 10px);
                    left: 0;

                    form {
                        .add-card-button {
                            border: 2px solid #ddd;
                            display: inline-flex;
                            .up,
                            .down {
                                outline:none;
                                -webkit-appearance: none;
                                background-color: transparent;
                                border: none;
                                align-items: center;
                                justify-content: center;
                                width: 2rem;
                                height: 12px;
                                cursor: pointer;
                                margin: 0;
                                position: relative;
                                font-size: 24px;
                                padding-top: 5px;
                            }
                            
                            .up:before,
                            .down:after {
                                display: inline-block;
                                position: absolute;
                                content: '';
                                width: 1rem;
                                height: 2px;
                                transform: translate(-50%, -50%);
                            }

                            input {
                                max-width: 4rem;
                                padding: .5rem;
                                border: solid #ddd;
                                border-width: 0 2px;
                                height: 2rem;
                                text-align: center;
                            }
                        }

                        .add-to-cart {
                            border: none;
                            background: none;
                            outline: none;
                        }                            

                        // .product-quantity {
                        //     .qty {
                        //         .input-group {
                        //             .input-group-btn-vertical {
                        //                 .btn {
                        //                     border: 1px solid rgba(0,0,0,.25);
                        //                 }
                        //             }
                        //         }
                        //     }
                        // }
                    }
                }
                .product-price-and-shipping {
                    position: absolute;
                    right: 0;
                    .price {
                        font-family: $roboto;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    @media (max-width: 480px) {
                        top: 90%;
                        right: 0;
                    }
                }
            }
        }
    }
    .up {
        a {
            position: relative;
            padding-right: 30px;
            i {
                position: absolute;
                bottom: 3px;
                right: -1px;
            }
        }
    }
}