@import "global.scss";

.block-category {
    position: relative;
    padding: unset;
}

.block-category {
    .h1 {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: #FFFFFF;
        @media (max-width: 768px) {
            font-size: 32px;
        }
    }
}

.block-category {
    img {
        max-width: 100%;
    }
}

.grid-controle {
    .grid-button {
        background-color: unset;
        border: unset;
        float: right;
        margin-bottom: 5px;
        span {
            color: #232323;
        }
        span:hover {
            color: #000;
            border: 1px solid #232323;
        }
        .active {
            border: 1px solid #232323;
        }
    }
    button:focus {
        outline: unset;
    }
}