@import "global.scss";
.block-category {
    position: relative;
    padding: unset;
}

.block-category {
    .h1 {
        position: relative;
        color: $black;
        margin-top: 30px;
        font-family: $roboto;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
    }
    @media screen and (min-width: 768px) {
        .h1 {
            margin-left: 10%;
            margin-top: 70px;
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 480px) {
        .h1 {
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}

.block-category {
    img {
        max-height: 100%;
        width: 90%;
    }
}

.grid-controle {
    .grid-button {
        background-color: unset;
        border: unset;
        float: right;
        margin-bottom: 5px;
        span {
            color: #232323;
        }
        span:hover {
            color: #000;
            border: 1px solid #232323;
        }
        .active {
            border: 1px solid #232323;
        }
    }
    button:focus {
        outline: unset;
    }
}

.pagination {
    >div {
        padding: 0;
    }
}

.info-all {
    padding-left: 15px;
    .savoir-plus {
        >div {
            position: relative;
            i {
                position: absolute;
                left: 120px;
                bottom: -5px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #search_filters {
        margin-top: 3.35rem;
    }
}

.collapse-icons {
    .remove {
        display: none;
    }
}

.collapse-icons[aria-expanded=true] {
    .remove {
        display: block;
    }
}

.collapse-icons[aria-expanded=true] .add {
    display: none;
}

.product-miniature {
    .thumbnail-container {
        .carousel-inner {
            display: none;
        }
    }
}

#category {
    #wrapper {
        #products {
            .container {
                padding: unset;
                .col-md-8,
                .col-lg-9 {
                    padding-right: unset;
                }
            }
        }
    }
}

#js-product-list {
    .products {
        >div {
            margin-bottom: 50px;
            position: relative;
            article {
                .product-description {
                    position: relative;
                    .h2 {
                        width: 75%;
                        font-size: 1.125rem;

                        @media (max-width: 480px) {
                            width: 100%!important;
                        }
                    }
                    #product-subtitle {
                        width: 65%;

                        @media (max-width: 480px) {
                            width: 100%!important;
                        }
                    }
                    .product-price-and-shipping {
                        position: absolute;
                        top: 100px;
                        right: 0;
                        .price {
                            font-family: $roboto;
                            font-size: 14px;
                        }
                        @media (max-width: 480px) {
                            left: 10px;
                            top: 130px!important;
                        }
                    }
                    @media (max-width: 480px) {
                        height: auto;
                    }
                    .add-to-cart-or-refresh {
                        position: absolute;
                        top: 0;
                        right: 0;
                        form {
                            .btn {
                                border: none;
                                background: none;
                                outline: none;
                            }
                        }

                        @media (max-width: 480px) {
                            top: 120px!important;
                        }
                    }

                    @media (max-width: 768px) {
                        border-left: 1px solid $black;
                        padding-left: 8px;
                    }

                    @media (max-width: 480px) {
                        padding-bottom: 0!important;
                    }
                }
            }
        }
    }
    .up {
        a {
            position: relative;
            padding-right: 30px;
            i {
                position: absolute;
                bottom: 3px;
                right: -1px;
            }
        }
    }
}