.coffret_noel {
    .content {
        height: auto!important;

        .product-information {
            .product-actions {
                @media screen and (min-width: 769px) {
                    bottom: -190px!important;
                }

                .add {
                    .yuka {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


.coffret_noel {
    .products {
        grid-gap: 45px;

        > div {
            height: 700px;
            .product-miniature {
                .info-detailed {
                    position: absolute;
                    top: 60%;
                }

                .add-to-cart-or-refresh,
                .product-price-and-shipping {
                    display: none;
                }
            }
        }
    }
} 

