.coffret_noel {
    .content {
        height: auto!important;

        .product-information {
            .product-actions {
                @media screen and (min-width: 769px) {
                    bottom: -190px!important;
                }

                .add {
                    .yuka {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


.coffret_noel {
    .products {
        grid-gap: 45px;

        @media (max-width: 630px) {
            display: block;
        }

        > div {
            height: 650px;
            margin-bottom: 0!important;

            @media (max-width: 630px) and (min-width: 480px) {
                height: 700px;
            }

            @media (max-width: 480px) {
                height: 750px;
            }

            .product-miniature {
                .info-detailed {
                    width: 100%;
                    position: absolute;
                    top: 60%;

                    @media (max-width: 630px) {
                        position: relative;
                    }
                }

                .add-to-cart-or-refresh,
                .product-price-and-shipping {
                    display: none;
                }
            }

            
        }
    }
} 

.chutney {
    .products {
        div {
            &:last-child {
                height: auto!important;
                .info-detailed {
                    position: absolute;
                    top: 56%!important;
                } 
            }
        }
    }
}

