@import "global.scss";
#header {
    .header-nav {
        box-shadow: none;
        margin-bottom: 30px;
        margin-top: none;
        .container {
            .row {
                display: block;
                #_desktop_logo {
                    a {
                        .logo {
                            max-height: 100px;
                        }
                    }
                }
            }
        }
    }
}

#blockcart-modal {
    .modal-dialog {
        .modal-body {
            .row {
                .cart-content {
                    .cart-content-btn {
                        a {
                            i {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#wrapper {
    .container {
        #main {
            .cart-grid {
                .cart-grid-body {
                    .label {
                        position: relative;
                        i {
                            position: absolute;
                            line-height: inherit;
                        }
                        span {
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }
}