@import "global.scss";
#header {
    .header-nav {
        box-shadow: none;
        margin-top: none;
    }
}

#blockcart-modal {
    .modal-dialog {
        .modal-header {
            h4 {
                text-align: center;
                i {
                    position: absolute;
                    left: 35%;

                    @media (max-width: 480px) {
                        left: 12px;
                    }
                }
            }
        }
        .modal-body {
            .row {
                .cart-content {
                    .delivery {
                        margin-bottom: 0;
                    }
                    .free {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .cart-content-btn {
                        button {
                            height: 40px;
                        }
                        a {
                            position: relative;
                            padding-left: 40px;
                            @include button;
                            i {
                                font-size: 18px;
                                position: absolute;
                                left: 15px;
                                bottom: 10px;
                            }
                        }
                    }
                }

                .divide-right {
                    .product-image {
                        @media (max-width: 480px) {
                            max-width: 150px;
                        }
                    }
                }
            }
        }
    }
}

#wrapper {
    .container {
        #main {
            .cart-grid {
                .cart-grid-body {
                    .label {
                        position: relative;

                        i {
                            position: absolute;
                            line-height: inherit;
                            left: 0;
                        }
                        span {
                            margin-left: 25px;
                        }
                    }

                    a::first-letter {
                        text-transform: lowercase;
                    }
                }
            }
        }
    }
}