#search_filters {
    @media (max-width: 767px) {
        padding: 20px 0!important;
    }
    #filtre-name {
        text-align: center;
        font-size: 1.2em;
        p {
            position: relative;

            .filtre-sr {
                position: relative;
                top: -5px;
            }
        }
    }
    .show-filtre {
        display: none;
    }
    .facet {
        .facet-title {
            overflow: visible;
        }
    }
}

#facet_section {
    input[type="checkbox"] {
        display: none;
    }
    label {
        margin-bottom: 0;
        border: none;
        position: relative;
        text-align: left;
        width: 100%;
        display: block;
    }
    label:hover {
        cursor: pointer;
    }
    .form-check-filtre {
        &:first-child {
            margin-bottom: 10px;
        }
    }
    .form-checked {
        background-color: #eee;
        padding: 5px;
    }
    .checked+label:after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 5px;
        background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/OOjs_UI_icon_check-constructive.svg/1200px-OOjs_UI_icon_check-constructive.svg.png);
        background-size: 100%;
        pointer-events: none;
    }
}