@import "global.scss";

.container {
    #left-column {
        @media (min-width: 768px) {
            float: left;
            position: sticky;
            top: 0;
            height: 100%;
        }
        
        #search_filters {
            @media (max-width: 767px) {
                padding: 10px 0!important;
            }
            #filtre-name {
                text-align: center;
                font-size: 1.2em;
                p {
                    position: relative;
        
                    .filtre-sr {
                        position: relative;
                        top: -5px;
                    }
                }
            }
            .show-filtre {
                display: none;
            }
            .facet {
                .facet-title {
                    overflow: visible;
                    text-transform: uppercase;
                    letter-spacing: .1rem;
                    font-size: 13px;
                }
            }

            .button-filtre {
                #category-filtre {
                    color: $black;
                    background-color: $white;
                    border: 1px solid $greylight;
                    position: relative;
                    padding-left: 40px;
                    cursor: pointer;

                    i {
                        position: absolute;
                        left: 10px;
                    }
                }
            }
        }

        #_desktop_search_filters_clear_all {
            a {
                position: relative;
                padding-left: 30px;

                i {
                    position: absolute;
                    left: 8px;
                    bottom: 3px;
                }
            }
        }
    }
    .categories {
        float: right;
    }
}
    

#facet_section {
    .form-check-filtre {
        position: relative;
        margin-bottom: 10px;

        input {
            margin-top: .25rem;
            opacity: 0;
            cursor: pointer;
            position: absolute;
        }

        label {
            &::before {
                content: '';
                margin-right: 3px;
                display: inline-block;
                width: .9375rem;
                height: .9375rem;
                vertical-align: middle;
                cursor: pointer;
                border: 2px solid #232323;
            }
        }

        
    }
}