@import "global.scss";
.container {
    #left-column {
        @media (min-width: 768px) {
            float: left;
            position: sticky;
            top: 0;
            height: 100%;
        }
        #search_filters {
            #filtre-name {
                padding-left: 30px;
                font-size: 1.2em;
                p {
                    position: relative;
                    .filtre-sr {
                        position: relative;
                        top: -5px;
                        font-family: 'RobotoMono';
                        color: #000;
                        font-size: 16px;
                        text-decoration: underline;
                    }
                }
            }
            .show-filtre {
                display: none;
            }
            .facet {
                .facet-title {
                    overflow: visible;
                    text-transform: uppercase;
                    letter-spacing: .1rem;
                    font-size: 13px;
                    font-weight: 600;
                    @media (max-width: 1200px) {
                        font-size: 11px;
                    }
                }
            }
            .button-filtre {
                margin-top: 30px;
                @media (max-width: 767px) {
                    margin-left: 16px;
                }
                #category-filtre {
                    color: $black;
                    background-color: $white;
                    border: 1px solid $greylight;
                    position: relative;
                    padding-left: 40px;
                    cursor: pointer;
                    i {
                        position: absolute;
                        left: 10px;
                    }
                }
            }
        }
        #_desktop_search_filters_clear_all {
            a {
                position: relative;
                padding-left: 30px;
                background-color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                border: 1px solid #000;
                padding: .5rem 1.25rem;
                padding-left: 30px;
                i {
                    position: absolute;
                    left: 8px;
                    bottom: 5px;
                }
            }
        }
    }
    .categories {
        float: right;
    }
}

@media (max-width: 767px) {
    #facet_section.collapse.in {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 90%;
        background: white;
        left: 0;
        padding: 20px;
        height: 100%;
        -webkit-animation: linear;
        -webkit-animation-name: run;
        -webkit-animation-duration: 0.5s;
    }
    #filtre-name[aria-expanded=true] {
        #overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 998;
        }
    }
}

@-webkit-keyframes run {
    0% {
        left: -100px;
    }
    50% {
        left: -50px;
    }
    100% {
        left: 0;
    }
}

#facet_section {
    ul {
        .form-check-filtre:nth-child(5) {
            margin-bottom: 1.5rem;
        }
        .form-check-filtre:nth-child(8) {
            margin-bottom: 1.5rem;
        }
    }
    .form-check-filtre {
        position: relative;
        margin-bottom: 10px;
        input[type="checkbox"],
        input[type="radio"] {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 4px;
            z-index: 99999;
            cursor: pointer;
        }
        input[type="checkbox"]+label::before,
        input[type="radio"]+label::before {
            content: '';
            border: 1px solid $black;
            height: 15px;
            width: 15px;
            display: inline-block;
            left: 0;
            position: absolute;
            top: 1px;
            padding: 3px;
        }

        input[type="radio"]+label::before {
            border-radius: 50%;
        }


        input[type="checkbox"]:checked+label::before,
        input[type="radio"]:checked+label::before {
            background-color: $black;
            background-clip: content-box;
        }
        label {
            margin-left: 0;
            padding-left: 25px;
        }
    }
}