@import "global.scss";
#footer {
    position: relative;
    .footer-container {
        .row {
            .home_popup {
                #list-builder {
                    opacity: 0;
                }
                #popup-box {
                    top: 85%;
                    left: 350px;
                    height: auto;
                    @media (max-width: 769px) {
                        width: 300px;
                        top: 50%;
                        left: 50%;
                        height: auto;
                        border: 1px solid $grey;
                        padding-bottom: 50px;
                    }
                    #popup-close {
                        top: 5px;
                        right: 5px;
                    }
                    #popup-box-content {
                        height: auto;
                        border-top: 1px solid $grey;
                        border-right: 1px solid $grey;
                        @media (max-width: 769px) {
                            border: none;
                        }
                        >div {
                            height: auto;
                            @media (max-width: 769px) {
                                padding-left: 0;
                                padding-right: 0;
                            }
                            img {
                                object-fit: cover;
                                height: auto!important;
                                @media (max-width: 769px) {
                                    height: 200px!important;
                                    margin-left: 0;
                                }
                            }
                        }
                        form {
                            margin-top: 40px;
                            @media (max-width: 769px) {
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                            .description {
                                @media (max-width: 769px) {
                                    text-align: center;
                                }
                                p {
                                    &:first-child {
                                        font-weight: 600;
                                        margin-bottom: 5px;
                                    }
                                    &:last-child {
                                        font-size: 14px;
                                    }
                                }
                            }
                            .form-group {
                                &:nth-child(2) {
                                    display: none;
                                }
                                label {
                                    @media (max-width: 769px) {
                                        width: auto;
                                    }
                                }
                                >div {
                                    @media (max-width: 769px) {
                                        width: 100%;
                                    }
                                }
                            }
                            .btn-primary {
                                @media (max-width: 769px) {
                                    width: 100%;
                                    margin-top: 15px;
                                    display: block!important;
                                }
                            }
                        }
                    }
                }
            }
            .block_newsletter {
                .row {
                    @media (max-width: 768px) {
                        padding-left: 15px;
                    }
                    >p {
                        @media (max-width: 768px) {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    .blockreassurance {
        .row {
            .offset-md-0 {
                .block-icon {
                    margin: 0 auto;
                    img {
                        height: 30px;
                        @media (max-width: 480px) {
                            width: auto;
                        }
                    }
                }
                &:nth-child(1) {
                    img {
                        width: 52px;
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    img {
                        width: 30px;
                    }
                }
            }
        }
        .block-title {
            margin-left: 30px;
            font-style: italic;
            font-family: 'AlegreyaSans';
            font-size: 12px;
        }
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    .container {
        .block_newsletter {
            bottom: auto!important;
            @media (max-width: 480px) {
                #block-newsletter-label {
                    padding-left: 15px!important;
                }
            }
            .row {
                p {
                    @media (min-width: 1200px) {
                        padding-left: 0;
                    }
                }
                >div {
                    padding-left: 0;
                    @media (max-width: 480px) {
                        padding-left: 15px;
                    }
                    form {
                        .row {
                            margin-left: 0;
                            padding-left: 0;
                            div {
                                padding-left: 0;
                                >p {
                                    padding-left: 0;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .row {
        .text-sm-center {
            margin-top: 50px;
            @media (max-width: 992px) {
                margin-top: 20px;
            }
            a {
                display: block;
                text-align: center;
            }
        }
    }
}