$black: #000;
$white: #fff;
#js-product-list,
.featured-products {
    .products {
        >div {
            margin-bottom: 50px;
            position: relative;
            article {
                @media (max-width: 480px) {
                    height: auto;
                    padding-bottom: 20px;
                    margin-left: 20px;
                }
                .product-price-and-shipping {
                    position: absolute;
                    bottom: -25px;
                }
            }
        }
    }
}