@import "global.scss";

/* logo */

#header .logo {
    max-width: 400px;
    max-height: auto;
}

.top-menu {
    .sub-menu.collapse {
        display: none;
    }
}


/* Header */

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}

@media (min-width: 768px) {
    #header {
        .header-nav {
            max-height: 100%;
            margin-top: 50px;
            border: none;
            .row {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #000;
                .navigation-header {
                    display: flex;
                    width: 100%;
                    position: relative;
                    #_desktop_logo {
                        margin-top: -2em;
                    }
                    .right-nav {
                        width: 300px;
                        position: absolute;
                        right: 0;
                        top: 50px;
                    }
                }
                .header-bottom {
                    width: 100%;
                    padding: 0;
                    #search_widget {
                        position: absolute;
                        top: -115px;
                        right: 30%;
                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                            top: -70px;
                            right: 20px;
                        }
                        @media (max-width: 768px) {
                            margin-top: 20px;
                            width: 100%;
                            form {
                                .ui-autocomplete-input {
                                    min-width: 100%;
                                }
                            }
                        }
                    }
                    #_desktop_top_menu {
                        width: 100%;
                        padding: 0 20px;
                        ul {
                            display: flex;
                            justify-content: space-between;
                            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                                justify-content: center;
                                flex-wrap: wrap;
                            }
                            li {
                                &:not(:last-child) {
                                    margin-right: 10px;
                                    display: block;
                                }
                                a {
                                    text-transform: none;
                                    letter-spacing: 1px;
                                    word-spacing: -2px;
                                    padding: 0;
                                    font-weight: 400;
                                    font-family: 'AlegreyaSans';
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #header {
        .header-nav {
            border: none;
            margin: 0;
            padding-bottom: 20px;
            .row {
                .navigation-header {
                    display: flex;
                    width: 100%;
                    position: relative;
                    #_desktop_logo {
                        width: 100%;
                        padding: 0;
                    }
                    .right-nav {
                        width: 300px;
                        position: absolute;
                        right: 0;
                        top: 65px;
                    }
                }
                .mobile {
                    position: relative;
                    #_mobile_cart {
                        position: absolute;
                        right: 10px;
                        top: 20px;
                    }
                    #_mobile_user_info {
                        position: absolute;
                        top: 20px;
                        right: 100px;
                    }
                    #_mobile_logo {
                        a {
                            img {
                                max-height: 80px;
                            }
                        }
                    }
                }
                .header-bottom {
                    .search-widget {
                        @media (max-width: 768px) {
                            margin-top: 20px;
                            width: 100%;
                            form {
                                width: 100%;
                                .ui-autocomplete-input {
                                    min-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-top {
            background-color: $white;
            .container {
                #menu-icon {
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                    background-color: rgba(0, 0, 0, .05);
                    border-radius: 5px;
                    padding: 5px 10px;
                    position: relative;
                    .expand-more {
                        display: block;
                        position: absolute;
                        right: 22px;
                        z-index: 999;
                        top: 4px;
                    }
                }
                #mobile_top_menu_wrapper {
                    #_mobile_top_menu {
                        position: relative;
                        width: 100%;
                        margin-top: 15px;
                        ul {
                            position: absolute;
                            background-color: #fff;
                            z-index: 999;
                            width: 100%;
                            border-top: 2px solid #000;
                            li {
                                a {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}