@import "global.scss";

/* logo */

#header .logo {
    max-width: 400px;
    max-height: auto;
}

.top-menu {
    .sub-menu.collapse {
        display: none;
    }
}


/* Header */

@media (min-width: 1200px) {
    .container {
        width: 1190px;
        position: relative;
    }
}

@media (min-width: 1200px) {
    #header {
        .header-nav {
            max-height: 100%;
            margin-top: 50px;
            border: none;
            .row {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #000;
                .navigation-header {
                    display: flex;
                    width: 100%;
                    position: relative;
                    #_desktop_logo {
                        margin-top: 3rem;
                    }
                    .right-nav {
                        width: 300px;
                        position: absolute;
                        right: 0;
                        top: 70px;
                    }
                }
                .header-bottom {
                    width: 100%;
                    padding: 0;
                    position: relative;
                    #search_widget {
                        position: absolute;
                        top: -105px;
                        right: 30%;
                    }
                }
                #_desktop_top_menu {
                    width: 100%;
                    padding: 0 20px;
                    ul {
                        display: flex;
                        justify-content: space-between;
                        li {
                            font-family: 'AlegreyaSans';
                            font-size: 14px;
                            &:not(:last-child) {
                                margin-right: 10px;
                                display: block;
                            }
                            a {
                                text-transform: none;
                                letter-spacing: 1px;
                                word-spacing: -2px;
                                padding: 0;
                                font-weight: 400;
                                font-family: 'AlegreyaSans';
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #header {
        .header-nav {
            border: none;
            margin: 0;
            padding-bottom: 20px;
            .row {
                .navigation-header {
                    display: flex;
                    width: 100%;
                    position: relative;
                    .right-nav {
                        width: 300px;
                        position: absolute;
                        right: 0;
                        top: 65px;
                    }
                    #_desktop_logo {
                        img {
                            margin-top: 3rem;
                        }
                    }
                }
                .mobile {
                    position: relative;
                    #_mobile_cart {
                        position: relative;
                        right: 10px;
                        top: 20px;
                    }
                    #_mobile_user_info {
                        position: relative;
                        top: 20px;
                        right: 20px;
                    }
                    #_mobile_logo {
                        a {
                            img {
                                max-height: 100px;
                                margin-top: 2rem;
                                @media (max-width: 468px) {
                                    max-height: 70px;
                                }
                            }
                        }
                    }
                }
                .header-bottom {
                    width: 100%;
                    .search-widget {
                        display: none;
                    }
                }
            }
        }
        .header-top {
            background-color: $white;
            .container {
                #menu-icon {
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                    background-color: rgba(0, 0, 0, .05);
                    border-radius: 5px;
                    padding: 5px 10px;
                    position: relative;
                    .expand-more {
                        display: block;
                        position: absolute;
                        right: 18px;
                        z-index: 999;
                        top: 4px;
                    }
                }
                #mobile_top_menu_wrapper {
                    #_mobile_top_menu {
                        position: relative;
                        width: 100%;
                        margin-top: 15px;
                        ul {
                            position: absolute;
                            background-color: #fff;
                            z-index: 999;
                            width: 100%;
                            border-top: 2px solid #000;
                            li {
                                padding: 8px 5px;
                                border-bottom: 1px solid $grey;
                                a {
                                    text-transform: none;
                                    letter-spacing: 1px;
                                    word-spacing: -2px;
                                    padding: 0;
                                    font-weight: 400;
                                    font-family: 'AlegreyaSans';
                                    font-size: 14px;
                                    border: 0
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}