/*products*/

.container {
    #main {
        #content {
            .featured-products {
                margin-top: 60px;
                h2 {
                    font-size: 11px;
                    letter-spacing: 1px;
                }
                .products {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .product-miniature {
                        .thumbnail-container {
                            box-shadow: none;
                            .highlighted-informations {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}