@import "global.scss";

/*products*/

.container {
    #main {
        #content {
            #carousel {
                ul {
                    height: auto;
                }
            }
            .featured-products {
                margin-top: 60px;
                h2 {
                    font-size: 11px;
                    letter-spacing: 1px;
                    padding-bottom: 20px;
                }
                .row {
                    margin-right: 0;
                    margin-left: 0;
                    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                        margin: 0;
                        height: 100%;

                    }
                    &::after {
                        content: none
                    }

                    > div {
                        margin-bottom: 50px;
                    }

                    @media (max-width: 480px) {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        height: 100%;
                        >div {
                            width: 100%;
                            margin-bottom: 60px;
                        }
                        .products>div article {
                            padding-bottom: 0;
                            margin-left: 0;
                        }
                    }
                    .product-miniature {
                        height: 100%;
                        .thumbnail-container {
                            box-shadow: none;
                            @media (max-width: 480px) {
                                width: 100%;
                            }
                            a {
                                height: 100%;
                                img {
                                    width: 100%;
                                }
                            }
                            .product-description {
                                z-index: 0;
                                width: 100%;
                                bottom: auto;
                                h3 {
                                    text-align: left;
                                    border-left: 1px solid $black;
                                    padding-left: 5px;
                                    text-transform: lowercase;
                                    a {
                                        font-size: 24px;
                                    }
                                }
                                .product-subtitle {
                                    p {
                                        margin: 0;
                                    }
                                }
                                .recipe {
                                    text-decoration: underline;
                                    text-transform: uppercase;
                                    font-size: 13px;
                                    margin-top: 10px;

                                    &:hover {
                                        color: $blue;
                                    }
                                }
                            }
                            .highlighted-informations {
                                box-shadow: none;
                                display: none;
                            }
                        }
                    }
                }
            }
            .home-category-foot {
                .categories-preview {
                    @media (max-width: 480px) {
                        display: block;
                    }
                }
            }
        }
        .block-category-inner {
            #category-description {
                .col-md-8 {
                    img {
                        @media (max-width: 480px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}