@import "global.scss";

/*products*/

.container {
    padding: 0;
    #main {
        #content {
            #carousel {
                ul {
                    height: auto;
                    li {
                        a {
                            figure {
                                display: block;
                                background-color: #FEF9F4;
                                img {
                                    @media (min-width: 769px) and (max-width: 1200px) {
                                        max-height: 531px;
                                        max-width: 1200px;
                                    }
                                    @media (min-width: 1201px) and (max-width: 14000px) {
                                        max-height: 675px;
                                        max-width: 1920px;
                                    }
                                    @media (min-width: 1400px) {
                                        max-height: 675px;
                                        max-width: 1920px;
                                        display: block;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .featured-products {
                @media (max-width: 480px) {
                    margin-bottom: -50px;
                    padding: 0 15px;
                    margin-top: 50px;
                }
                margin-top: 90px;
                h2 {
                    @include title;
                    margin-bottom: 50px;
                }
                .products {
                    @media (max-width: 480px) {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        height: 100%;
                    }
                    .owl-stage {
                        @media (max-width: 481px) {
                            padding-bottom: 15px;
                            height: 650px;
                            position: relative;
                        }
                    }
                    >div {
                        @media (max-width: 480px) {
                            width: 100%;
                        }
                        margin-bottom: 100px;
                        position: relative;
                        article {
                            height: 100%;
                            .thumbnail-container {
                                @media (max-width: 480px) {
                                    width: 100%;
                                }
                                a:first-child {
                                    &:hover {
                                        opacity: 1;
                                    }
                                    img {
                                        max-width: 373.328px;
                                        max-height: 373.328px;
                                        @media (max-width: 480px) {
                                            max-width: unset;
                                            max-height: unset;
                                        }
                                    }
                                }
                                .product-description {
                                    z-index: 0;
                                    width: 100%;
                                    position: relative;
                                    .h3 {
                                        width: 80%;
                                    }
                                    #product-subtitle {
                                        width: 65%;
                                        margin: 5px 0 15px 0;
                                        p {
                                            margin: 0;
                                            color: #232323;
                                            font-size: 15px;
                                            font-family: $alegreya;
                                        }
                                    }
                                    .recipe {
                                        font-family: $roboto;
                                        text-decoration: underline;
                                        text-transform: uppercase;
                                        font-size: 12px;
                                        margin-top: 10px;
                                        position: absolute;
                                        bottom: -10px;
                                        height: auto;
                                        font-weight: 500;
                                        line-height: 27px;
                                        color: $hover;
                                        @media (max-width: 960px) {
                                            bottom: -25px;
                                        }
                                        @media (min-width: 481px) {
                                            bottom: -10px;
                                            left: 2px;
                                        }
                                    }
                                    &:after {
                                        content: "";
                                    }
                                }
                                .add-to-cart-or-refresh {
                                    position: absolute;
                                    top: calc(100% + 15px);
                                    left: 0;

                                    form {
                                        position: relative;

                                        .add-card-button {
                                            border: 2px solid #ddd;
                                            display: inline-flex;
                                            position: absolute;
                                            top: 0;

                                            .up,
                                            .down {
                                                outline:none;
                                                -webkit-appearance: none;
                                                background-color: transparent;
                                                border: none;
                                                align-items: center;
                                                justify-content: center;
                                                width: 2rem;
                                                height: 12px;
                                                cursor: pointer;
                                                margin: 0;
                                                position: relative;
                                                font-size: 24px;
                                                padding-top: 5px;
                                            }
                                            
                                            .up:before,
                                            .down:after {
                                                display: inline-block;
                                                position: absolute;
                                                content: '-';
                                                width: 1rem;
                                                height: 2px;
                                                top: 5px;
                                                transform: translate(-50%, -50%);
                                                font-family: $unna;
                                            }

                                            .up:before {
                                                display: inline-block;
                                                position: absolute;
                                                content: '+';
                                                width: 1rem;
                                                height: 2px;
                                                top: 5px;
                                                transform: translate(-50%, -50%);
                                                font-family: $unna;
                                            }


                                            input {
                                                max-width: 4rem;
                                                padding: .5rem;
                                                border: solid #ddd;
                                                border-width: 0 2px;
                                                height: 2rem;
                                                text-align: center;
                                                outline: none;
                                            }
                                        }

                                        .add-to-cart {
                                            border: none;
                                            background: none;
                                            outline: none;
                                            margin-left: 140px;
                                        }                            
                
                                        // .product-quantity {
                                        //     .qty {
                                        //         .input-group {
                                        //             .input-group-btn-vertical {
                                        //                 .btn {
                                        //                     border: 1px solid rgba(0,0,0,.25);
                                        //                 }
                                        //             }
                                        //         }
                                        //     }
                                        // }
                                    }
                                }
                                .product-price-and-shipping {
                                    position: absolute;
                                    top: calc(100% + 20px);
                                    right: 0;
                                    .price {
                                        font-family: $roboto;
                                        font-size: 14px;
                                        font-weight: 400;
                                    }
                                    @media (max-width: 480px) {
                                        bottom: -15px;
                                    }
                                }
                                .highlighted-informations {
                                    box-shadow: none;
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .owl-nav {
                    margin: 0!important;
                    position: static!important;
                    button {
                        position: absolute;
                        color: #000;
                        width: 40px;
                        top: 20%;
                        outline: none;
                    }

                    .owl-next {
                        right: 0;
                    }
                }
            }
            .home-category-foot {
                .categories-preview {
                    margin-top: 40px;
                    @media (max-width: 480px) {
                        display: block;
                    }
                }
            }

            .avis {
                margin-bottom: 112px;
            }
        }
        .block-category-inner {
            #category-description {
                .col-md-4 {
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                    .col-md-8 {
                        @media (max-width: 1200px) {
                            width: 100%;
                        }
                        img {
                            @media (max-width: 1200px) {
                                display: block;
                                margin: 0 auto;
                            }
                            @media (max-width: 480px) {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        .category-cover {
            img {
                float: right;
                @media (max-width: 767px) {
                    float: none;
                }
            }
        }
    }
}

// Block en off
.en-off {
    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        display: grid;
        text-align: center;
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
        }
        h3 {
            font-weight: 400;
            font-size: 1.3em;
            line-height: 1.3;
            padding: 20px 40px 0 40px;
        }
        img {
            border: 1px solid #dbdbdb;
            max-width: 296px;
            max-height: 296px;
            width: 100%;
            height: auto;
        }
    }
}

.page-home,
.page-cms {
    .home-page-block {
        margin-top: 100px;
        h2 {
            margin-bottom: 60px;
        }
        .lwc {
            font-family: $roboto;
            font-size: 18px!important;
            letter-spacing: 1.8px;
            line-height: 24px;
        }
    }
    .custom-text {
        color: #232323;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 1.3;
        #custom-text-container {
            padding: 40px 20px;
            >p {
                max-width: 722px;
                margin: 0 auto;
                margin-bottom: 24px;
            }
            .little-size {
                font-size: $alegreya;
                font-size: 16px;
            }
        }
    }
    .avis {
        h2 {
            padding-bottom: 30px;
            font-family: 'RobotoMono';
            font-size: 18px;
            text-transform: uppercase;
            border-bottom: 1px solid #e17550;
            letter-spacing: 1.8px;
            width: max-content;
        }
    }
}


/*Nous connaître*/

#content {
    .introduction {
        .block-container {
            margin-bottom: 60px;
        }
    }
    .chapters {
        .chapter {
            margin-bottom: 20px;
            a {
                img {
                    max-width: 314px!important;
                    max-height: 403px!important;
                }
            }
        }
    }
}

#wrapper .container {
    max-width: 100%;
}



.page-index #wrapper .container .home-page-block {
    width: 943px;
    max-width: 100%;
    margin: 0px auto;
    margin-top: 90px;
    
    @media (max-width: 960px) {
        padding: 0 15px;
    }
}

.page-product #wrapper .container {
    width: 960px;
    max-width: 100%;
    margin-top: 30px;
}

.page-index #wrapper .home-page-block {
    width: 1159px;
    max-width: 100%;
}

#category #wrapper .container #products {
    width: 1060px;
    max-width: 100%;
    margin: 0 auto;
}

#page-search #wrapper .container {
    width: 1060px;
    max-width: 100%;
    margin: 0 auto;
}

#module-kj_abonnement-showAbonnement #wrapper .container {
    width: 962px;
    margin: 0 auto;
}

#cart #wrapper .container {
    width: 1159px;
    margin: 0 auto;
}

#stores #wrapper .container,
#my-account #wrapper .container {
    width: 1159px;
    margin: 0 auto;
}

.page-cms .breadcrumb,
.page-cms .cms-category-nav {
    width: 1159px;
    margin: 0 auto;
}

.cms-id-26  #wrapper .cuisine-nature,
.cms-id-24 #wrapper .bloc {
    width: 961px;
    margin: 0 auto;
}

#search #wrapper .container {
    width: 1159px;
    margin: 30px auto;

    h2 {
        font-size: 30px;
    }
}

#pagenotfound #wrapper .container {
    width: 1159px;
    margin: 0 auto;
}

#category-id-71 #wrapper .container #category-description,
#category-id-71 #wrapper .container #products,
#category-id-71 #wrapper .container .page-home {
    width: 1159px;
    margin: 0 auto;
}