@import "global.scss";
// ul.top-menu[data-child="1"] li.menu-item .sub-menu {
//     opacity: 1;
//     display: flex;
//     visibility: visible;
//     background-color: #FEF9F4;
// }
ul.top-menu[data-child="1"] li.menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

ul.top-menu[data-child="1"] li.menu-item .sub-menu {
    background-color: #FEF9F4;
    display: flex;
    width: 100%;
}

.top-menu .sub-menu.collapse {
    justify-content: space-between;
    padding: 0 30px;
    height: auto;
    .menu-block {
        .menulink.current {
           text-decoration: underline;
        }
        .menulink {
            cursor: pointer;
        }
        margin: 30px 20px;
        flex: 1 1 auto;
        .menu-block-link {
            i {
                a {
                    padding: 0;
                    padding-bottom: 17px;
                    font-style: normal;
                    font-family: $alegreya;
                    font-size: 16px;
                }
            }
        }
        .menu-block-name {
            padding-bottom: 5px;
            font-size: 11px;
            text-transform: uppercase;
            word-spacing: 4px;
            letter-spacing: 1px;
            color: $black;
        }
        i {
            display: block;
        }
        &:nth-child(2) {
            flex: 0 1 auto;
        }
        .recipe-ingredient {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid $black;

        }
        &:first-child {
                
            i {
                a {
                    font-style: normal;
                    font-family: $alegreya;
                    font-size: 15px;
                    color: $black;
                    letter-spacing: 0.5px;
                }
                a:hover {
                    text-decoration: underline!important;
                    cursor: pointer;
                }
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(8) {
                    margin-bottom: 30px;
                }
            }
        }
        &:nth-child(3) {
            border-right: 1px solid $black;
            border-left: 1px solid $black;
            padding: 0 30px;

            .recipe-ingredient {
                display: flex;
                justify-content: space-between;

                .menu-block-child {
                    .menu-block-child-name {
                        font-family: $unna;
                        font-size: 20px;
                        margin-bottom: 30px;
                        color: $black;
                        line-height: 22px;
                    }
                    .menu-block-link {
                        i {
                            a {
                                font-style: normal;
                                font-family: $alegreya;
                                font-size: 16px;
                                color: $black;
                                letter-spacing: 0.5px;
                            }
                        }
                    }
                    .menu-block-child-link {
                        margin-top: 20px;
                        span {
                            font-style: normal;
                            font-family: $alegreya;
                            font-size: 14px;
                            color: $black;
                            letter-spacing: 0.5px;
                        }
                    }
                    &:first-child {
                        ul {
                            i {
                                &:nth-child(4),
                                &:nth-child(8),
                                &:nth-child(13),
                                &:nth-child(16) {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        ul {
                            i {
                                &:nth-child(5) {
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                    &:last-child {
                        ul {
                            i {
                                &:nth-child(5) {
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
                .menu-block-child {
                    flex: 1 1 0px;
                    &:nth-child(2) {
                        border-left: 1px solid $grey;
                        border-right: 1px solid $grey;
                        padding-left: 30px;
                        padding-right: 10px;
                    }
                    &:last-child {
                        padding-left: 30px;
                    }
                }
            }
        }
        &:last-child {
            margin: 30px 0;
            background-image: url("../img/HACL.png");
            background-size: cover;
            width: 340px;
        }
    }
}

.popover {
    top: 43px;
    left: -100px;
}

span.obflink {
    cursor: pointer;
}

@media (max-width: 480px) {
    #header.is-open {
        .header-top {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 999;
            height: 1900px;
        }
    }
}