@media screen and (max-width: 480px) {
    .log-out {
        float: left;
        margin-top: 20px;
    }
}

@media screen and (min-width: 576px) {
    .info-blocs {
        position: relative
    }
    .info-bloc {
        position: absolute;
        width: 49%
    }
    .log-out {
        float: right;
        margin-top: 20px;
    }
}

@media screen and (min-width: 960px) {
    .log-out {
        float: right;
        margin-top: -48px
    }
}

.log-out {
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px
}

.info-bloc {
    margin: 0 0 30px 0;
    padding: 20px;
    background: #f5f5f5;
}

.info-bloc {
    .infor-bloc-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
}

.info-bloc-content h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    margin-bottom: 20px
}

.info-bloc-content .button {
    text-align: center;
    margin: 20px 0 20px 0
}