@import "global.scss";

#cms {
    nav {
        margin: 30px 0;
    }
    .page-header {
        display: none;
    }
    #content {
        h2 {
            text-transform: uppercase;
        }
        .header {
            position: relative;
            width: 100%;
            margin-bottom: 60px;
            img {
                max-height: 493.61px;
                object-fit: cover;
                width: 100%;
            }
            h1 {
                position: absolute;
                width: 100%;
                text-align: center;
                margin: auto;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                height: 5px;
                font-size: 50px;
                line-height: 55px;
                color: #FFF;
                @media (max-width: 768px) {
                    font-size: 32px;
                    line-height: unset;
                }
            }
        }
        .bloc {
            h2 {
                padding: 60px 40px;
                text-align: center;
            }
            .bloc-title {
                font-family: 'RobotoMono';
                font-size: 18px;
                text-transform: uppercase;
            }
            &:nth-child(2n+1) {
                background-color: #fef9f5;
            }
            .bloc-content {
                padding: 0 140px 60px;
                @media (max-width: 768px) {
                    padding: 50px 43px;
                }
                img {
                    max-width: 100%;
                    height: auto;
                }

                p {
                    font-size: 21px;
                    line-height: 28px;
                    font-family: $unna;
                }
            }
            .bloc-image {
                margin-bottom: 35px;
            }
        }
        .introduction {
            margin-bottom: 100px;
        }
    }
}

