@import "global.scss";





.info-detailed {
    @media screen and (min-width: 1024px) {
        .collapse {
            display: block;
            height: auto !important;
            visibility: visible;
        }
        .collapsing {
            position: relative;
            height: unset !important;
            overflow: hidden;
        }
    }

    @media screen and (max-width: 480px) {
        padding-left: 0;
    }
    font-size: 14px;
    .info-detailed-title {
        position: relative;
        h2 {
            padding: 15px 0;
            margin: 0;
            border-top: 1px solid $grey;
        }
        i {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    table {
        width: 100%;
        td {
            padding: 8px 10px;
        }
        td:last-child {
            width: 35px;
        }
        
        .product-images>li.thumb-container>.thumb {
            box-shadow: unset
        }
        
    }
    .grey {
        background: #EEEEEE;
    }
}

.label-bio img {
    max-width: 68px;
    max-height: 52px;
}

#wrapper {
    padding-top: 0;
    .container {
        .page-home {
            #custom-text {
                #custom-text-container {
                    padding: 40px 20px;
                }
            }
        }
        #main {
            .product-container {
                .product-flags {
                    display: none;
                }
                > div {
                    &:first-child {
                        .page-content {
                            width: auto;
                            .js-qv-mask {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .h1 {
                            padding-left: 8px;
                            line-height: 1.1;
                            border-left: 1px solid $black;

                            &::first-letter {
                                text-transform: lowercase;
                            }
                        }
                        .product-information {
                            > div {
                                &:first-child {
                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }
                            .product-actions {
                                .product-add-to-cart {
                                    .product-quantity {
                                        .add {
                                            .btn-primary {
                                                padding: 0.6rem 1.25rem;
                                                .icon-panier-off {
                                                    &:before {
                                                        font-size: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .products {
                @media (max-width: 480px) {
                    justify-content: space-around;
                    margin-top: 30px;
                    >div {
                        margin-bottom: 30px;
                    }
                }

                
            }
        }
        .block-category-inner {
            .text-muted {
                @media (max-width: 768px) {
                    margin-top: 30px;
                }
                p {
                    font-family: $unna;
                    font-size: 24px;
                    color: $black;
                    line-height: 30px;;

                    @media (max-width: 768px) {
                        font-size:16px;
                    }
                }
            }
        }

        .product-container {
            .col-md-6 {
                &:first-child {
                    .page-content {
                        .images-container {
                            .product-cover {
                                img {
                                    max-width: 565px;
                                    max-height: 565px;

                                    @media (max-width: 1200px){
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    .product-prices {
                        .current-price {
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                    .product-information {
                        .product-actions {
                            form {
                                .product-add-to-cart {
                                    #product-availability {
                                        position: relative;
                                        padding-left: 30px;

                                        i {
                                            position: absolute;
                                            left: 0;
                                            bottom: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.product-accessories {
    margin: 120px 0;
    .h5 {
        margin-bottom: 20px;
        span {
            text-align: center;
            // text-transform: uppercase!important;
            font-size: 13px;
            font-family: $roboto;
            padding-bottom: 6px;
            letter-spacing: 1.3px;
            border-bottom: 2px solid $black;
        }
    }

    .products {
        grid-gap: 60px;
        margin-top: 60px;
    }
}






/* Test */
.info-detailed {
    width: 100%;
    padding: 0;
    padding-top: 30px;
    border-top: 1px solid #eee; 


    #main-menu {
        ul {
            display: flex;
            justify-content: space-between;

            .menu-tab {
                font-size: 14px;
                text-transform: uppercase;
                font-size: $roboto;

                &.active {
                    a {
                        color: $blue;
                        border-bottom: 2px solid black;
                        padding-bottom: 3px;
                        text-decoration: none;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }   
            }
            
        }
    }

    .info-detailed-titler {
        width: 100%;
        padding-left: 0;
        display: none;

        &.active {
            display: block;
            margin-top: 15px;

        }

        h2 {
            border-top: none!important;
            text-transform: initial!important;
            font-family: $unna;
            font-size: 24px;
            letter-spacing: 0;
        }

        &.nut {
            width: 50%;
        }
        
        #mentions {
            .info-nutrition {
                display: flex;
                flex-wrap: wrap;
                margin-top: 35px;

                ul {
                    flex: 1 0 21%;

                    &:nth-child(2) {
                        display: none;
                    }

                    .kj {
                        .number {
                            span {
                                display: block;
                                line-height: 18px;

                                &:first-child {
                                    padding-top: 8px;
                                }
                            }
                        }
                    }

                    .nutrition {

                        .number {
                            border: 1px solid #000;
                            padding: 10px;
                            border-radius: 50%;
                            text-align: center;
                            width: 70px;
                            height: 70px;
                            line-height: 50px;
                            margin: 0 auto;
                        }

                        .label-nutrition {
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

    }
}