.info-detailed {
    font-size: 14px
}

.info-detailed h2 {
    padding: 15px 0;
    margin: 0;
    border-top: 1px solid #CCCCCC
}

.info-detailed table {
    width: 100%;
}

.info-detailed .grey {
    background: #EEEEEE;
}

.info-detailed table td {
    padding: 8px 10px;
}

.info-detailed table td:last-child {
    width: 35px;
}

.product-images>li.thumb-container>.thumb {
    box-shadow: unset
}

.label-bio img {
    max-width: 100px
}

#js-product-list,
.featured-products {
    .products {
        > div {
            margin-bottom: 80px;

            @media (max-width:480px) {
                margin-bottom: 60px;
            }

            article {
                height: 370px;
                position: relative;

                .product-price-and-shipping {
                    position: absolute;
                    bottom:0;
                    left:0;
                }
            }
        }
    }
}