@import "global.scss";





.info-detailed {
    @media screen and (min-width: 1024px) {
        .collapse {
            display: block;
            height: auto !important;
            visibility: visible;
        }
        .collapsing {
            position: relative;
            height: unset !important;
            overflow: hidden;
        }
    }
    font-size: 14px;
    .info-detailed-title {
        position: relative;
        h2 {
            padding: 15px 0;
            margin: 0;
            border-top: 1px solid $grey;
        }
        i {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    table {
        width: 100%;
        td {
            padding: 8px 10px;
        }
        td:last-child {
            width: 35px;
        }
        
        .product-images>li.thumb-container>.thumb {
            box-shadow: unset
        }
        
    }
    .grey {
        background: #EEEEEE;
    }
}

.label-bio img {
    max-width: 100px;
    max-height: 100%;
}

#wrapper {
    padding-top: 0;
    .container {
        .page-home {
            #custom-text {
                #custom-text-container {
                    padding: 40px 20px;
                }
            }
        }
        #main {
            .product-container {
                > div {
                    &:first-child {
                        .page-content {
                            width: auto;
                            .js-qv-mask {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .h1 {
                            padding-left: 8px;
                            text-transform: lowercase;
                            line-height: 0.9;
                            border-left: 1px solid $black;

                            // &::before {

                            // }
                        }
                        .product-information {
                            > div {
                                &:first-child {
                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }
                            .product-actions {
                                .product-add-to-cart {
                                    .product-quantity {
                                        .add {
                                            .btn-primary {
                                                padding: 0.6rem 1.25rem;
                                                .icon-panier-off {
                                                    &:before {
                                                        font-size: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .products {
                @media (max-width: 480px) {
                    justify-content: space-around;
                    >div {
                        margin-bottom: 30px;
                    }
                }

                
            }
        }
        .block-category-inner {
            .text-muted {
                @media (max-width: 768px) {
                    margin-top: 30px;
                }
                p {
                    font-family: $unna;
                    font-size: 24px;
                    color: $black;
                    line-height: 30px;;

                    @media (max-width: 768px) {
                        font-size:16px;
                    }
                }
            }
        }

        .product-container {
            .col-md-6 {
                &:nth-child(2) {
                    .product-prices {
                        .current-price {
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.product-accessories {
    margin: 120px 0;
    .h5 {
        margin-bottom: 20px;
        span {
            text-align: center;
            text-transform: uppercase!important;
            font-size: 13px;
            font-family: $roboto;
            padding-bottom: 20px;
            letter-spacing: 1.3px;
            border-bottom: 1px solid $black;
        }
    }

    .products {
        grid-gap: 60px;

        article {
            .product-description {
                .product-title {
                    border-left: 1px solid $black;
                }
            }
        }
    }
}