@-webkit-keyframes L_circle_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes L_circle_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes L_stroke_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes L_stroke_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes L_stroke_left_grow {
    0%,
    100% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
}

@keyframes L_stroke_left_grow {
    0%,
    100% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
}

@-webkit-keyframes L_stroke_right_grow {
    0%,
    100% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    50% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg)
    }
}

@keyframes L_stroke_right_grow {
    0%,
    100% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    50% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg)
    }
}

.loader-circle {
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #444;
    margin-top: -1em;
    margin-left: -1em;
    position: absolute;
    -webkit-animation: L_circle_rotate 1.568s linear infinite both;
    animation: L_circle_rotate 1.568s linear infinite both
}

.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
    content: '';
    display: block;
    border-style: solid;
    border-width: .21429em;
    border-color: currentColor
}

.loader-circle,
.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right {
    position: absolute;
    clip: rect(0 2em 2em 1em)
}

.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right:before {
    position: absolute;
    clip: rect(0 1em 2em 0)
}

.loader-circle:before {
    position: absolute;
    clip: rect(0 1.05em 1em .95em)
}

.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right,
.loader-circle:before {
    -webkit-animation: L_stroke_rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-circle .loader-stroke-right:before {
    -webkit-animation: L_stroke_right_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_right_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-circle .loader-stroke-left:before {
    -webkit-animation: L_stroke_left_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_left_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.row.avis,
.row .item {
    background-color: #fef9f5;
    text-align: center;
}

.avis .h2 {
    color: #e17550;
    font-size: 2em;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 2em;
}

#truspilot-avis .owl-stage {
    display: flex;
    justify-content: center;
}

#truspilot-avis .slide-text {
    color: #849333;
    margin-left: calc(30% - 20px);
    margin-right: calc(30% - 20px);
    font-family: 'Unna';
}

#truspilot-avis .header.slide-text {
    padding: 2rem;
    font-size: 2em;
}

#truspilot-avis .tp-stars img {
    width: 100%;
}

#truspilot-avis .name.slide-text {
    padding: 2rem 2rem 6rem;
}

#truspilot-avis .owl-stage-outer {
    overflow: hidden;
    position: relative;
    -webkit-transform: translateZ(0);
}

#truspilot-avis .owl-dots {
    display: none;
}

#truspilot-avis .owl-nav {
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

#truspilot-avis .owl-nav svg {
    color: currentColor
}

#truspilot-avis .owl-nav .disabled {
    display: none
}

#truspilot-avis .owl-prev,
#truspilot-avis .owl-next {
    top: 110px;
    z-index: 2;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin-top: -20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2)
}

#truspilot-avis .owl-prev {
    left: -10px
}

#truspilot-avis .owl-next {
    right: -10px
}