.row.avis,
.row .item {
    background-color: #fef9f5;
    text-align: center;
}

.avis .h2 {
    color: #e17550;
    font-size: 2em;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 2em;
}

#truspilot-avis .owl-stage {
    display: flex;
    justify-content: center;
}

#truspilot-avis .slide-text {
    color: #849333;
    margin-left: calc(30% - 20px);
    margin-right: calc(30% - 20px);
    font-family: 'Unna';
}

@media (max-width: 480px) {
    #truspilot-avis .slide-text {
        margin-left: 30px;
        margin-right: 30px;
    }
}

#truspilot-avis .header.slide-text {
    padding: 2rem;
    font-size: 2em;
    line-height: 40px;
}

#truspilot-avis .tp-stars img {
    width: 100%;
}

#truspilot-avis .name.slide-text {
    padding: 2rem 2rem 6rem;
}

#truspilot-avis .owl-stage-outer {
    overflow: hidden;
    position: relative;
    -webkit-transform: translateZ(0);
}

#truspilot-avis .owl-dots {
    display: none;
}

#truspilot-avis .owl-nav svg {
    color: currentColor
}

#truspilot-avis .owl-nav .disabled {
    display: none
}

#truspilot-avis .owl-prev,
#truspilot-avis .owl-next {
    top: calc(50% - 70px);
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: transparent;
    outline: none;
}

#truspilot-avis .owl-prev {
    left: 30px
}

#truspilot-avis .owl-next {
    right: 5px
}

#truspilot-avis .owl-nav .nav-btn {
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
}

#truspilot-avis .owl-prev .prev-slide {
    background-image: url('/img/fleche-gauche.png');
}

#truspilot-avis .owl-next .next-slide {
    background-image: url('/img/fleche-droite.png');
}