@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?x3918j');
    src: url('../fonts/icomoon.eot?x3918j#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?x3918j') format('truetype'), url('../fonts/icomoon.woff?x3918j') format('woff'), url('../fonts/icomoon.svg?x3918j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* logo */

#header .logo {
    max-width: 400px;
    max-height: auto;
}

@media (min-width: 768px) {
    #header .header-nav {
        max-height: 100%;
        margin-top: 50px;
    }
    .header-nav .container .row {
        display: flex;
        flex-wrap: wrap;
    }
    .header-nav .container .row .navigation-header {
        display: flex;
        width: 100%;
    }
    .header-nav .container .row .navigation-header #_desktop_logo {
        width: 100%;
    }
    .header-nav .container .row .navigation-header div:nth-child(2) {
        width: 100%;
    }
    .header-nav .container .row .navigation-header div:nth-child(2) #search_widget {
        float: right;
    }
    /*products*/
    #main #content section .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}