/* logo */
#header .logo {
  max-width: 400px;
  max-height: auto;
}

.top-menu .sub-menu.collapse {
  display: none;
}

/* Header */
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
@media (min-width: 768px) {
  #header .header-nav {
    max-height: 100%;
    margin-top: 50px;
    border: none;
  }
  #header .header-nav .row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
  }
  #header .header-nav .row .navigation-header {
    display: flex;
    width: 100%;
    position: relative;
  }
  #header .header-nav .row .navigation-header #_desktop_logo {
    width: 100%;
    padding: 0;
  }
  #header .header-nav .row .navigation-header .right-nav {
    width: 300px;
    position: absolute;
    right: 0;
    top: 65px;
  }
  #header .header-nav .row .header-bottom {
    width: 100%;
    padding: 0;
  }
  #header .header-nav .row .header-bottom #search_widget {
    position: absolute;
    top: -130px;
    right: 30%;
  }
}
@media (min-width: 768px) and (max-width: 480px) {
  #header .header-nav .row .header-bottom .search-widget {
    margin-top: 20px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  #header .header-nav .row .header-bottom #_desktop_top_menu {
    width: 100%;
    padding: 0 20px;
  }
  #header .header-nav .row .header-bottom #_desktop_top_menu ul {
    display: flex;
    justify-content: space-between;
  }
  #header .header-nav .row .header-bottom #_desktop_top_menu ul li:not(:last-child) {
    margin-right: 10px;
    display: block;
  }
  #header .header-nav .row .header-bottom #_desktop_top_menu ul li a {
    text-transform: none;
    letter-spacing: 1px;
    word-spacing: -2px;
    padding: 0;
    font-weight: 400;
  }
}
/*products*/
.container #main #content .featured-products {
  margin-top: 60px;
}
.container #main #content .featured-products h2 {
  font-size: 11px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.container #main #content .featured-products .row {
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.container #main #content .featured-products .row::after {
  content: none;
}
.container #main #content .featured-products .row > div {
  margin: 0;
}
@media (max-width: 480px) {
  .container #main #content .featured-products .row {
    height: 100%;
  }
  .container #main #content .featured-products .row > div {
    width: 100%;
    margin-bottom: 60px;
  }
}
.container #main #content .featured-products .row .product-miniature {
  margin: 0;
  height: 100%;
}
@media (max-width: 480px) {
  .container #main #content .featured-products .row .product-miniature {
    height: 440px;
  }
}
.container #main #content .featured-products .row .product-miniature .thumbnail-container {
  box-shadow: none;
  width: 320px;
}
@media (max-width: 480px) {
  .container #main #content .featured-products .row .product-miniature .thumbnail-container {
    width: 100%;
  }
}
.container #main #content .featured-products .row .product-miniature .thumbnail-container a {
  height: 100%;
}
.container #main #content .featured-products .row .product-miniature .thumbnail-container a img {
  width: 100%;
}
.container #main #content .featured-products .row .product-miniature .thumbnail-container .product-description {
  z-index: 0;
  width: 100%;
  bottom: auto;
}
.container #main #content .featured-products .row .product-miniature .thumbnail-container .product-description h3 {
  text-align: left;
  border-left: 1px solid #000;
  padding-left: 5px;
  text-transform: lowercase;
}
.container #main #content .featured-products .row .product-miniature .thumbnail-container .product-description h3 a {
  font-size: 24px;
}
.container #main #content .featured-products .row .product-miniature .thumbnail-container .highlighted-informations {
  box-shadow: none;
  display: none;
}
@media (max-width: 480px) {
  .container #main #content .home-category-foot .categories-preview {
    display: block;
  }
}
#footer .blockreassurance {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
#footer .blockreassurance .block-icon,
#footer .blockreassurance .block-icon img {
  height: 30px;
}
#footer .blockreassurance .block-title {
  margin-top: 10px;
  font-style: italic;
  font-family: "AlegreyaSans";
  font-size: 12px;
}
#custom-categories-container {
  margin-top: 40px;
}
#custom-categories-container .featured-block-title {
  font-family: RobotoMono Medium;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.categories-preview {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
}

.category-preview {
  height: 150px;
  position: relative;
  margin-bottom: 20px;
}

.categories-preview img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-preview h3 {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  font-size: 24px;
  line-height: 24px;
  color: #FFF;
  pointer-events: none;
}

.featured-products .products-section-title span,
.featured-block-title span {
  padding-bottom: 6px;
  border-bottom: 2px solid #000;
}

.categories-preview {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 992px) {
  .categories-preview {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .categories-preview {
    grid-template-columns: repeat(4, 1fr);
  }
}
.block-category {
  position: relative;
  padding: unset;
}

.block-category .h1 {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #FFFFFF;
}

.block-category img {
  max-width: 100%;
}
.info-detailed {
  font-size: 14px;
}

.info-detailed h2 {
  padding: 15px 0;
  margin: 0;
  border-top: 1px solid #CCCCCC;
}

.info-detailed table {
  width: 100%;
}

.info-detailed .grey {
  background: #EEEEEE;
}

.info-detailed table td {
  padding: 8px 10px;
}

.info-detailed table td:last-child {
  width: 35px;
}

.product-images > li.thumb-container > .thumb {
  box-shadow: unset;
}

.label-bio img {
  max-width: 100px;
}

#js-product-list .products > div,
.featured-products .products > div {
  margin-bottom: 80px;
}
@media (max-width: 480px) {
  #js-product-list .products > div,
.featured-products .products > div {
    margin-bottom: 60px;
  }
}
#js-product-list .products > div article,
.featured-products .products > div article {
  height: 370px;
  position: relative;
}
#js-product-list .products > div article .product-price-and-shipping,
.featured-products .products > div article .product-price-and-shipping {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 480px) {
  .log-out {
    float: left;
    margin-top: 20px;
  }
}
@media screen and (min-width: 576px) {
  .info-blocs {
    position: relative;
  }

  .info-bloc {
    position: absolute;
    width: 49%;
  }

  .log-out {
    float: right;
    margin-top: 20px;
  }
}
@media screen and (min-width: 960px) {
  .log-out {
    float: right;
    margin-top: -48px;
  }
}
.log-out {
  padding: 10px;
  border: 1px solid;
  margin-bottom: 10px;
}

.info-bloc {
  margin: 0 0 30px 0;
  padding: 20px;
  background: #f5f5f5;
}

.info-bloc .infor-bloc-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.info-bloc-content h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.info-bloc-content .button {
  text-align: center;
  margin: 20px 0 20px 0;
}
